/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}
.icons-social a:hover{
    color: yellow;
}
.icons-social a svg path{
	fill: #FAFAFA;
}
#icons0:hover{
    color: yellow;
}