/* Theme */

main {
	background-image: url(fond.jpg);
	color: white;
    background-size: cover;
}

.icons-social i {
	color: white;
    transition-duration: 1s;
}
.icons-social i:hover{
    color:yellow;
    transition: transform .2s;   
    -ms-transform:scale(1.25); /* IE 9 /     -webkit-transform: scale(1.25); / Safari 3-8 */     transform: scale(1.25);
}



.icons-social a svg path{
	fill: white;
}
#titre{
    transition-duration: 2s;
}
#titre:hover{
    color: yellow;
}
/* #menu0{
    position: fixed;
    top: 1px;
    padding: 30px;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: white
} */